BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
SpacesBeforeTrailingComments: 2
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<>'
    Priority:        1
  - Regex:           '^"[^/]+\.h"$'
    Priority:        2

